:root {
    --text-color: black;
    --link-color: blue;
    background-color: rgb(240, 240, 221);
}

* {
    margin: 0 10px;
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


header {
    background-color: #333;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}


.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.menu li a:hover {
    background-color: #555;
    border-radius: 5px;
}


p,
h1 {
    margin: 50px;
}

.container {
    display: flex;
    /* Flexbox verwenden, um zwei Spalten zu erstellen */
    gap: 5px;
    /* Abstand zwischen Galerie und Text */
}

/* Linke Spalte: Galerie */
.gallery {
    flex: 0.5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
    margin-left: 30px;
}

.gallery1 img {
    width: 30%;
    height: 70%;
    margin-left: 50px;

}

.gallery img:hover {
    transform: scale(1.05);
    /* Leichter Zoom beim Hover */
}

.gallery1 img:hover {
    transform: scale(1.05);
    /* Leichter Zoom beim Hover */
}

/* Rechte Spalte: Text */
.text-section {
    flex: 2;
    background-color: rgb(240, 240, 221);
    
}



.text-section p {
    font-size: 16px;
    line-height: 1.6;
    }




/* Responsive Layout für kleinere Bildschirme */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        /* Auf kleinen Bildschirmen die beiden Spalten untereinander anordnen */
    }

    .text-section,
    .image-section {
        flex: 1;
        /* Beide Spalten nehmen gleich viel Platz auf kleinen Bildschirmen ein */
    }

    .image-section img {
        width: 100%;
        /* Bild wird auf 100% der Breite des Bildbereichs gesetzt */
    }
}